# Node
node_modules/

# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# Dataset
data/raw/*.jsonl
data/processed/*.json

# Models
models/*.bin
models/*.pt
models/*.pkl
models/*.index

# VS Code
.vscode/

# Dataset
data/raw/candidates.jsonl

# Generated processed data
data/processed/*.json

# AI generated models
models/embeddings.npy
models/candidate_index.faiss